BEARER_TOKEN=[Bearer Token]
BEARER_STORAGE=[Bearer Token for resource ID https://storage.azure.com/]
SUBSCRIPTION_ID=[Subscription Id]
LOCATION=[Azure region]
RESOURCE_GROUP_NAME=[Resource group name]
STORAGE_ACCOUNT_NAME=[Globally unique storage account name]
CONTAINER_NAME=[Container name]
X-MS-VERSION=[API version]